.cartTable {
	border-collapse: collapse;
    width: 100%;
}

.cartTable th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.cartTable tr:nth-child(even){background-color: #f2f2f2}